* {
  box-sizing: border-box;
  padding: 0;
}

.img-logo {
  margin-bottom: 90px;
}

.article {
  background-color: #043873;
  display: flex;
  align-items: center;
  width: 1921px;
  height: 574px;
  margin-top: 140px;
}

.article-info h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 87px;
  letter-spacing: -0.02em;
  color: #ffffff;
  flex: none;
  margin-bottom: 24px;
  height: 87px;
}

.article-info span {
  background-image: url("../img/blue.png");
  background-repeat: no-repeat;
  background-position: bottom;
}

.article-info p {
  margin-bottom: 60px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.article-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1064px;
  height: 171px;
  gap: 24px;
  margin-bottom: 263px;
}

.article-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  isolation: isolate;
  width: 195px;
  height: 63px;
  background: #4f9cf9;
  border-radius: 8px;
}

.article-icon a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
  color: #ffffff;
  text-decoration: none;
}

.section-info span {
  background-image: url(../img/yellow.png);
  background-repeat: no-repeat;
  background-position: bottom;
}

.section-info h1 {
  width: 800px;
  height: 87px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 87px;
  letter-spacing: -0.02em;
  color: #212529;
}

.section-info P {
  width: 800px;
  height: 90px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.02em;
  color: #212529;
}

.icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  gap: 10px;
  width: 197px;
  height: 63px;
  background: #4f9cf9;
  border-radius: 8px;
}

.icon a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
  color: #ffffff;
  text-decoration: none;
}

.section-seven {
  display: flex;
  padding: 140px 220px;
}
